/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}
button {
	vertical-align:top;
	width: 50px;
}
.reset {
	width: 100px;
}
